

body {
    background-color: pink;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    margin: 0;
  }

  
  h1 {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    color: #2e2022;
  font-size: 300%;
  text-align:center
  }
  h2 {
    color: rgb(225, 65, 65);
    font-family: verdana;
  font-size: 200%;
  text-align:center
  }

  p {
    color: white;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 160%;
    text-align:center
  }
  
  a:link, a:visited {
    background-color: #46ba80;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }



.div2 {
    text-align: center;
}

.div2 a {
    border-radius: 10px;
    background-color: #63494d;
}

.div3 {
  display: block;
  min-height: 40vh;
  padding: 10px;
  margin-top: 25px;
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 3;
  background-color: rgb(247, 0, 0, 0.3);
  /* vertical height */
}

.div4 {
  grid-column: span 5 / span 5;
  grid-row-start: 5;
  background-color: rgba(255, 0, 0, 0.3);
  display: flex;
  margin-top: 17px;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}


.div4 div {
    width: 100%;
    padding: 14px;
}

.div4 div p {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 12px !important;
}


  .imgcenter
{
  display: flex;
  justify-content:center;
}  
